/* Global  rules starts  */
:root {
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --main-transition:all 0.6s linear;
}
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
html {
   font-size:62.5%; 
   overflow-x: hidden;
   text-transform: capitalize;
   scroll-padding-top: 5.5rem;
   scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration:none;
}
input,
textarea {
    border:none; 
    outline: none;
}
button,
input[type="submit"] {
    cursor:pointer; 
}
section {
    padding:2rem 9%;
}
section:nth-child(even) {
    background-color: #eee;
}
.heading {
    text-align:center; 
    color:var(--black); 
    font-size:3rem;
    padding-bottom:2rem;
    text-transform: uppercase;
}
.sub-heading {
    text-align:center; 
    color:var(--green); 
    font-size:2rem;
    padding-top:1rem;
}
.btn {
    margin-top:1rem;
    display:inline-block;
    font-size:1.7rem;
    color:#fff;
    background:var(--black);
    border-radius:.5rem;
    cursor:pointer;
    padding:.8rem 3rem;
    transition: var(--main-transition);
}
.btn:hover {
    background:var(--green);
    letter-spacing: .1rem;
}
/* Global  rules ends  */

/* header style starts  */
header {
    position:fixed; 
    top:0;
    right:0; 
    left:0; 
    background:#fff;
    padding:1rem 7%; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index:1000;
}
header .logo {
    color:var(--black);
    font-size:2.5rem; 
    font-weight: bolder;
}
header .logo i {
    color:var(--green);
}

header .navbar a {
    font-size:1.7rem; 
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
}
header .navbar a.active,
header .navbar a:hover {
    color:#fff; 
    background:var(--green);
    transition:var(--main-transition);
}
header .icons i,
header .icons a {
    cursor:pointer; 
    margin-left:.5rem; 
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem; 
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background:#eee;
    transition: var(--main-transition);
} 

header .icons i:hover,
header .icons a:hover {
    color:#fff; 
    background:var(--green); 
    transform: rotate(360deg);
}
header .icons #menu-bars {
    display: none;
}
/* header style ends  */

/* search form style starts */
#search-form {
    position:fixed; 
    top:-110%; 
    left:0; 
    height:100%; 
    width:100%;
    display:flex; 
    justify-content:center; 
    align-items:center;
    padding:0 1rem;
    background:rgba(0, 0, 0, .8); 
    z-index:1004;
}
#search-form.active {
    top:0;
}
#search-form #search-box {
    width:50rem; 
    outline:none; 
    border:none;
    border-bottom: .1rem solid #fff;
    padding:1rem 0; 
    color:#fff; 
    font-size:3rem;
    text-transform: none;
    background:none;
   
}
#search-form #search-box::placeholder{
    color:#fff; 

}
#search-form #search-box::-webkit-search-cancel-button {
     -webkit-appearance: none;
}
#search-form label {
    color:#fff;
    font-size:3rem;
    cursor:pointer; 
    transition: var(--main-transition);
}
#search-form label:hover {
    color:var(--green);
}
#search-form #close {
    position:absolute;
    top:2rem; 
    right:3rem;
    cursor: pointer;
    font-size:5rem;
    color:#fff;

}
/* search form style ends */

/* home section style starts  */
.home .home-slide .slide {
    display:flex; 
    align-items:center; 
    flex-wrap:wrap;
    gap:2rem; 
    padding-top:9rem;
}
.home .home-slide .slide .content {
    flex: 1 1 45rem;
}
.home .home-slide .slide .content span {
    font-size:2.5rem; 
    color:var(--green)
}
.home .home-slide .slide .content h3 {
    font-size:7rem; 
    color:var(--black);
}
.home .home-slide .slide .content p {
    font-size:2rem; 
    color:var(--light-color);
    padding:5rem 0;
    line-height:1.5;
}
.home .home-slide .slide .content 
.home .home-slide .slide .image {
    flex: 1 1 45rem;
}
.home .home-slide .slide .image img {
    width:100%;
}
.swiper-pagination-bullet-active{
    background:var(--green);
}
/* home section style ends  */

/* dishes section style starts  */
.dishes .box-container {
   display:grid; 
   grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
   gap:1.5rem;

}
.dishes .box-container .box {
    padding:2.5rem; 
    background:#fff; 
    border:.1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position:relative; 
    overflow:hidden; 
    text-align:center;
}

.dishes .box-container .box .fa-heart, 
.dishes .box-container .box .fa-eye{
    position:absolute;
    top:1.5rem; 
    background:#eee;
    width:5rem; 
    height:5rem; 
    line-height: 5rem;
    border-radius: 50%;
    font-size:2rem;
    color:var(--black);
    transition: var(--main-transition);
} 
.dishes .box-container .box .fa-heart:hover, 
.dishes .box-container .box .fa-eye:hover {
    background:var(--green); 
    color:#fff;
}

.dishes .box-container .box .fa-heart {
    right:-5.5rem; 
}

.dishes .box-container .box .fa-eye {
    left:-5.5rem; 
}
.dishes .box-container .box:hover .fa-heart {
   right:1.5rem;
} 
.dishes .box-container .box:hover .fa-eye {
   left:1.5rem;
}
.dishes .box-container .box img {
    height:17rem; 
    margin:1rem 0;
}
.dishes .box-container .box h3 {
    font-size:2.5rem;
    color:var(--black);
}
.dishes .box-container .box .stars {
   padding:1rem 0;
}
.dishes .box-container .box .stars i {
   font-size:1.7rem; 
   color:var(--green);
}
.dishes .box-container .box span {
    font-size:2.5rem; 
    font-weight: bolder;
    color:var(--green); 
    margin-right: 1rem;
}
/* dishes section style ends  */

/* about section style starts  */
.about .row {
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem; 
    align-items: center;
}
.about .row .image {
    flex:1 1 45rem; 
}
.about .row .image img {
    width:100%; 
}
.about .row .content {
    flex:1 1 45rem;
}
.about .row .content h3 {
    font-size:4rem ; 
    color:var(--black);
    padding:.5rem 0;
}
.about .row .content p {
    font-size:1.5rem ; 
    color:var(--light-color);
    padding:.5rem 0;
    line-height: 1.7;

}
.about .row .content .icons-container {
    display:flex; 
    gap:1rem;
    flex-wrap:wrap;
    padding:1rem 0; 
    margin-top:.5rem;
}
.about .row .content .icons-container .icons {
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0, 0, .2);
    display:flex; 
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}
.about .row .content .icons-container .icons i{
    font-size:2.5rem;
    color:var(--green);
}
.about .row .content .icons-container .icons span{
    font-size:1.5rem; 
    color:var(--black);
}

/* about section style ends  */

/* menu  section style starts  */
.menu .box-container {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem
}
.menu .box-container .box {
    background:#fff; 
    border:.1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image {
    width:100%;
    height:25rem;
    padding:1.5rem; 
    overflow:hidden;
    position:relative; 
}
.menu .box-container .box .image img {
    width:100%;
    height:100%;
    border-radius: .5rem;
    object-fit: cover; 
}
.menu .box-container .box .image .fa-heart {
    position:absolute; 
    top:2.5rem; 
    right:2.5rem; 
    width:5rem; 
    height:5rem; 
    border-radius: 50%; 
    background: #fff;
    color:var(--black);
    line-height: 5rem;
    text-align:center;
    font-size:2rem;   
    transition:var(--main-transition);
}
.menu .box-container .box .image .fa-heart:hover {
    background: var(--green);
    color:#fff;
}
.menu .box-container .box .content {
    padding:2rem; 
    padding-top:0;
}
.menu .box-container .box .content .stars {
    padding-bottom:1rem;
}
.menu .box-container .box .content .stars i {
    font-size:1.7rem; 
    color:var(--green);
}
.menu .box-container .box .content h3 {
    font-size:2.5rem; 
    color:var(--black);
}
.menu .box-container .box .content p {
    font-size:1.6rem; 
    color:var(--light-color);
    padding:.5rem 0; 
    line-height: 1.5;
}

.menu .box-container .box .content .price {
    font-size:2.5rem;
    font-weight: bolder;
    color:var(--green);
    margin-left: 1.5rem;

}
/* menu  section style ends  */

/* review section style starts  */
.review .slide {
    position:relative; 
    padding:2rem; 
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
}
.review .slide .fa-quote-right {
    font-size:6rem ;
    color:#ccc; 
    position:absolute; 
    top:2rem ;
    right:2rem;

}
.review .slide .user {
    display:flex;
    gap:1.5rem; 
    align-items:center;
    padding-bottom:1.5rem;
}
.review .slide .user img {
    width:7rem; 
    height:7rem; 
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3 {
    font-size:2rem; 
    color:var(--black);
    padding-bottom:.5rem;
}
.review .slide .user i {
    font-size:1.3rem; 
    color:var(--green);
}
.review .slide p {
    font-size:1.5rem; 
    line-height:1.8;
    color:var(--light-color);
}
/* review section style ends  */

/* order section style starts  */
.order form {
    max-width:90rem; 
    border:.1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff; 
    padding:1.5rem;
    margin:0 auto;
}
.order form .inputBox {
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input {
    width:49%; 
}
.order form .inputBox .input span {
    display:block; 
    padding:.5rem 0; 
    font-size:1.5rem; 
    color:var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea {
    width:100%; 
    background:#eee; 
    border-radius: .5rem;
    padding:1rem;
    font-size:1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom:1rem;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
    border:.1rem solid var(--green);
}
.order form .inputBox .input textarea {
    height:20rem; 
    resize:none;
}
.order form .btn {
    margin-top:0;
}
/* order section style ends  */

/* footer section style starts  */
.footer .box-container {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3 {
    padding:.5rem 0; 
    font-size: 2.5rem;
    color:var(--black);
}
.footer .box-container .box a {
    display:block;
    padding:.5rem 0; 
    font-size: 2.5rem;
    color:var(--light-color);
}
.footer .box-container .box a:hover {
    color:var(--green);
    text-decoration: underline;
}
.footer .credit {
  text-align:center;
  border-top:.1rem solid rgba(0, 0, 0, .1);
  font-size:2rem; 
  color:var(--black);
  padding:.5rem; 
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.footer .credit a {
  color:var(--green);
  font-weight:bolder;
  cursor:pointer;
}
/* footer section style ends  */

/* loader part  */
.loader-container {
    position:fixed;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    z-index: 1005;
    background:#fff;
    display:flex; 
    justify-content: center;
    align-items:center;
    overflow:hidden;
}
.loader-container img {
    width:35rem;
}

.loader-container.fade-out {
    top:110%; 
    opacity:0;
}









































/* media queries */
@media(max-width:991px){
    html {
        font-size:55%;
    }
    header {
        padding:1rem 2rem;
    }
    section {
        padding:2rem;
    }
}
@media(max-width:768px){
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar {
        position:absolute;
        top:100%;
        left:0; 
        right:0; 
        background:#fff; 
        border-top:.1rem solid rgba(0, 0, 0, 0.2); 
        border-bottom:.1rem solid rgba(0, 0, 0, 0.2); 
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        display:block; 
        padding:1.5rem; 
        margin: 1rem 0;
        font-size: 2rem;
        background:#eee;

    }
    #search-form #search-box  {
        width:90%;
        margin:0 1rem;
    }
    .home .home-slide .slide .content h3 {
        font-size: 5rem;
    }
}
@media(max-width:450px){
    html {
        font-size:50%;
    }
    .dishes .box-container .box img {
        height:auto; 
       width:100%; 
    }
    .order form .inputBox .input {
        width:100%;
    }
}