/* global rules starts  */
:root {
  --orange:#ff7800; 
  --black:#130f40;
  --light-color:#666; 
  --bx-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.3rem solid var(--black);
}
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    text-transform: capitalize;
    transition:all .3s linear;
    text-decoration: none;
    list-style: none;
    border:none;
    outline:none;
}
html {
    font-size:62.5%; 
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #eee;
}
section {
    padding:2rem 9%;
}
.btn {
    margin-top:1rem; 
    display: inline-block;
    padding:.8rem 3rem; 
    font-size:1.7rem; 
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black); 
    cursor:pointer;
    background:none;
}
.btn:hover {
   background:var(--orange); 
   color:#fff;
    
}
.heading {
    font-size:3.5rem; 
    color:var(--black); 
    padding:2rem 0; 
    padding-bottom:3rem ;
    text-align: center;
}
.heading span {
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem; 
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

}
/* global rules ends  */

/* header section starts  */
.header {
    position:fixed; 
    top:0; left:0; 
    z-index:1000;
    display:flex; 
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:2rem 9%;
    background:#fff; 
    box-shadow: var(--bx-shadow);
}
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}
.header .logo i {
    color:var(--orange);
}
.header .navbar.active {
    right:2rem; 
    transition: .4s linear;
}
.header .navbar a {
    font-size:1.7rem; 
    margin:0 1rem; 
    color:var(--black);
}

.header .navbar a:hover {
    color:var(--orange);
}

.header .icons div {
    width:4.5rem; 
    height:4.5rem; 
    line-height: 4.5rem; 
    border-radius: .5rem;
    font-size:2rem; 
    color:var(--black);
    background:#eee; 
    text-align: center;
    margin-left:.3rem; 
    cursor: pointer;
}
.header .icons div:hover {
    background: var(--orange);
    color:#fff;
}
#menu-btn {
    display: none;
}
.fa-times {
    transform: rotate(180deg);
}
.header .search-form {
   position:absolute; 
   top:110%; right:-110%; 
   width:50rem; 
   height:4.5rem;
   background:#fff; 
   border-radius: .5rem;
   overflow: hidden;
   display: flex;
   align-items:center;
   box-shadow: var(--bx-shadow);

}
.header .search-form.show-form{
   right: 2rem;
   transition: .4s linear;
}
.header .search-form input {
   width:100%; 
   height:100%; 
   background:none;
   text-transform: none;
   font-size:1.6rem; 
   color:var(--black); 
   padding:0 1.5rem; 
}
.header .search-form label {
    font-size:2.2rem; 
    padding-right:1.5rem; 
    color:var(--black); 
    cursor:pointer;
}
.header .search-form label:hover {
    color:var(--orange);
}
.header .shopping-cart {
    position: absolute;
    top:110%;right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--bx-shadow);
    width:35rem; 
    background:#fff;
}
.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap:1rem; 
    position:relative;
    margin:1rem 0;
}
.header .shopping-cart.show-cart{
    right:2rem;
    transition: .4s linear;
}
.header .shopping-cart .box img {
    height:10rem;
}
.header .shopping-cart .box .content h3 {
    font-size:1.7rem; 
    color:var(--black); 
    padding-bottom:1rem;
}
.header .shopping-cart .box .content span {
    font-size:1.6rem; 
    color:var(--light-color); 
    
}
.header .shopping-cart .box .content .quantity {
    padding-left:1rem;
}
.header .shopping-cart .box .fa-trash {
    font-size:2rem; 
    position:absolute;
    top:50%; right: 2rem;
    transform: translateY(-50%);
    color:var(--light-color); 
    cursor:pointer;
}
.header .shopping-cart .box .fa-trash:hover {
    color:var(--orange);
}
.header .shopping-cart .total {
    font-size:2.5rem; 
    padding:1rem 0; 
    text-align: center;
    color:var(--black);
}
.header .shopping-cart .btn {
    display:block; 
    text-align: center;
    margin:1rem 0;
}

.header .login-form {
    position:absolute; 
    top:110%; right:-110%; 
    width:30rem; 
    padding:2rem; 
    background:#fff;
    border-radius: .5rem;
    text-align:center;
    box-shadow: var(--bx-shadow);
}
.header .login-form.show-log {
    right:2rem;
    transition: .4s linear;
}
.header .login-form h3 {
    font-size:2.5rem; 
    text-transform: uppercase;
    color:var(--black);
}
.header .login-form .box {
    width:100%;
    margin:.7rem 0;
    padding:1rem; 
    font-size:1.6rem;
    color:var(--black); 
    background:#eee;
    border-radius: .5rem;
    text-transform: none;
}
.header .login-form p {
    font-size:1.4rem; 
    padding:.5rem 0; 
    color:var(--light-color);
}
.header .login-form p a {
    color:var(--orange); 
    text-decoration: underline;
}
/* header section ends  */

/* home section starts  */
.home {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/banner-bg.webp)no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:15rem; 
    padding-bottom:10rem;
}
.home .content {
    width:60rem; 
    text-align: center;
}
.home .content h3 {
    font-size: 3rem;
    color:var(--black);
}
.home .content h3 span {
    color:var(--orange);
}
.home .content p {
    font-size:1.7rem; 
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.8;
}
/* home section ends  */

/* features section starts  */
.features .box-container {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.features .box-container .box {
    background:#fff; 
    padding:3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--bx-shadow);
}
.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
.features .box-container .box img {
    height:15rem; 
    margin:1rem 0; 
}
.features .box-container .box h3 {
    font-size:2.5rem; 
    color:var(--black); 
    line-height: 1.8;
}
.features .box-container .box p {
    font-size:1.5rem;
    line-height: 1.8;
    color:var(--light-color); 
    padding:1rem 0;
}
/* features section ends  */

/* products section starts  */
.products .product-slider {
   padding:1rem; 
}
.products .product-slider:first-child{
   margin-bottom: 2rem;
}
.products .product-slider .box {
    background:#fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem; 
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--bx-shadow);
    transition: .2s linear;
}
.products .product-slider .box:hover {
    outline-offset: 0rem;
    outline:var(--outline-hover);
}
.products .product-slider .box img {
    height:20rem;
}
.products .product-slider .box h3 {
    font-size:2.5rem; 
    color:var(--black);
}
.products .product-slider .box .price {
    font-size:2rem; 
    color:var(--light-color); 
    padding:0.5rem 0;
}
.products .product-slider .box .stars i {
    font-size:1.7rem; 
    color:var(--orange); 
    padding:.5rem 0;
}
/* products section ends  */

/* categories section starts  */
.categories .box-container {
    display:grid; 
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap:1.5rem;
}
.categories .box-container .box {
    background:#fff; 
    padding:3rem 2rem; 
    border-radius: .5rem;
    box-shadow: var(--bx-shadow);
    outline: var(outline);
    outline-offset: -1rem;
    text-align:center;
}
.categories .box-container .box:hover {
    outline:var(--outline-hover); 
    outline-offset: 0rem;;
}
.categories .box-container .box img {
    margin:1rem 0; 
    height:15rem;
}
.categories .box-container .box h3 {
    font-size:2rem; 
    color:var(--black); 
    line-height:1.8;
}
.categories .box-container .box p {
    font-size:1.7rem; 
    color:var(--light-color); 
    line-height:1.8; 
    padding:1rem 0;
}

/* categories section ends  */

/* review section starts  */
.review .review-slider {
    padding:1rem; 
}
.review .review-slider .box{
    background:#fff; 
    border-radius: .5rem;
    text-align:center;
    padding:3rem 2rem; 
    outline-offset: -1rem;
    box-shadow: var(--bx-shadow);
    transition: .2s linear;
}
.review .review-slider .box:hover {
    outline:var(--outline-hover);
    outline-offset: 0rem;
}
.review .review-slider .box img {
    height:10rem;
    width:10rem; 
    border-radius: 50%; 
}
.review .review-slider .box p {
    padding:1rem 0; 
    line-height: 1.8;
    color:var(--light-color);
    font-size:1.5rem;
}
.review .review-slider .box h3 {
    font-size:2.2rem;
    color:var(--black); 
    padding-bottom:.5rem;
}
.review .review-slider .box .stars i {
    font-size:1.7rem; 
    color:var(--orange);
}
/* review section ends  */

/* blogs section starts  */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap:1.5rem;
}
.blogs .box-container .box {
    background:#fff; 
    box-shadow:var(--bx-shadow); 
    border-radius: .5rem;
    overflow:hidden;
}
.blogs .box-container .box img {
    width: 100%;
    height:25rem; 
    object-fit: cover;
}
.blogs .box-container .box .content {
    padding:2rem;
}
.blogs .box-container .box .content .icons {
    display:flex;
    align-items:center; 
    justify-content: space-between;
    padding-bottom:1.5rem; 
    margin-bottom:1rem;
    border-bottom: var(--border);
}
.blogs .box-container .box .content .icons a {
    font-size:1.5rem; 
    color:var(--light-color);
}
.blogs .box-container .box .content .icons a:hover {
    color:var(--black);
}
.blogs .box-container .box .content .icons a i {
    padding-right:.5rem; 
    color:var(--orange);
}
.blogs .box-container .box .content h3 {
    font-size:2.2rem; 
    color:var(--black); 
    line-height: 1.8;
    padding:.5rem 0;
}
.blogs .box-container .box .content p {
    font-size:1.5rem; 
    color:var(--light-color); 
    line-height: 1.8;
    padding:.5rem 0;
}

/* blogs section ends  */

/* footer section starts  */
.footer {
    background:#fff
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3 {
    font-size:2.5rem; 
    color:var(--black); 
    padding:1rem 0;
}
.footer .box-container .box .links {
    display:block; 
    font-size:1.5rem;
    color:var(--light-color); 
    padding:1rem 0; 
}
.footer .box-container .box .links i{
    color:var(--orange);
    padding-right:.5rem;
}
.footer .box-container .box .links:hover i{
    padding-right:2rem;
}
.footer .box-container .box p {
    font-size:1.5rem;
    line-height: 1.8;
    color:var(--light-color); 
    padding:1rem 0; 
}
.footer .box-container .box .share a {
    width:4rem; 
    height:4rem; 
    line-height: 4rem;
    border-radius:.5rem;
    font-size:2rem; 
    color:var(--black);
    margin-left:.2rem;
    background:#eee; 
    text-align:center;
}
.footer .box-container .box .share a:hover {
    background:var(--orange);
    color:#fff;
}
.footer .box-container .box .email {
    margin:.7rem 0; 
    padding:1rem; 
    border-radius: 0.5rem;
    background: #eee;
    font-size:1.6rem; 
    color:var(--black);
    text-transform: none;
}
.footer .box-container .box .payment-img {
    margin-top:2rem; 
    height:3rem;
}
.footer .credit {
    font-size:2rem; 
    color:var(--black); 
    margin-top:2rem; 
    padding:1rem;
    padding-top:2.5rem; 
    text-align:center;
    border-top:var(--border)
}
.footer .credit span {
    color:var(--orange);
}
/* footer section ends  */












/* media queries starts */
@media (max-width:991px) {
    html {
        font-size:55%;
    }
    .header {
        padding:2rem;
    }
    section {
        padding:2rem;
    }
}
@media (max-width:768px) {
 
    #menu-btn {
        display: inline-block;
    }
    .header .search-form {
        width:90%;
    }
     .header .navbar {
         position:absolute; 
         top:110%;right:-110%; 
         width:30rem; 
         background:#fff;
         box-shadow: var(--bx-shadow);
         border-radius: .5rem;
     }
     .header .navbar a {
         font-size:2rem; 
         margin:2rem 2.5rem; 
         display: block;
     }
}
@media (max-width:450px) {
    html {
        font-size:50%;
    }
    .heading {
        font-size:2.5rem;
    }
    .footer {
        text-align:center;
    }
}


/* media queries ends */